<div class="container" fxLayout="column " fxLayoutAlign="center ">
    <mat-accordion *ngIf="reviews.length > 0" multi="true">
        <mat-expansion-panel style="background-color: whitesmoke" *ngFor="let post of posts">
            <mat-expansion-panel-header style="color: indigo">
                {{ post.title }}
            </mat-expansion-panel-header>
            <p>{{ post.content }}</p>
            <mat-panel-description></mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
    <p class="info-text mat-body-2" *ngIf="reviews.length <= 0">
        No posts added yet
    </p>
</div>
