<mat-toolbar color="primary" fxFlex fxLayout fxLayoutAlign="flex-end center">
    <div>
        <button mat-icon-button (click)="onToggleSidenav()" class="menu-btn">
      <mat-icon>menu</mat-icon>
    </button>
    </div>
    <div>
        <button mat-raised-button color="primary" routerLink="">
      <mat-icon>image_search</mat-icon> Gamepedia
    </button>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end center" fxShow.xs fxShow.sm fxHide.gt-sm>
        <app-search-bar></app-search-bar>
    </div>

    <div fxFlex fxLayout fxLayoutAlign="flex-end center" fxHide.xs fxHide.sm>
        <app-search-bar></app-search-bar>
    </div>

    <!-- Login -->
    <div fxFlex fxLayout fxLayoutAlign="flex-end center" fxHide.xs fxHide.sm>
        <button class="header-button" mat-raised-button color="primary" routerLink="/postcreate">
      Create a review
    </button>
        <button class="header-button" mat-raised-button color="primary" routerLink="/postlist">
      Reviews
    </button>
        <button class="header-button" mat-raised-button color="primary" *ngIf="!_authService.loggedIn()" routerLink="/login">
      Login
    </button>
        <!-- Signup           -->
        <button class="header-button" mat-raised-button color="primary" *ngIf="!_authService.loggedIn()" routerLink="/register">
      Signup
    </button>
        <!-- Logout -->
        <button class="header-button" mat-raised-button color="primary" *ngIf="_authService.loggedIn()" (click)="onLogout()" (click)="_authService.logoutUser()" routerLink="">
      Logout
    </button>
    </div>
</mat-toolbar>