mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
    background: #ffffff !important;
    background-color: #151515 !important;
    color: white !important;
}

mat-sidenav {
    width: 250px;
}

main {
    background: #151515 !important;
    background-color: #151515 !important;
}