<div class="container" fxFlex>
    <mat-card fxFlex>
        <div class="row" fxFlex>
            <form (submit)="onAddReview(postForm)" #postForm="ngForm" fxFlex>
                <!-- TITLE -->
                <div class="row">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Game Title</mat-label>
                        <input matInput type="text" name="title" ngModel required #title="ngModel" />
                        <mat-error *ngIf="title.invalid">Please add a title to your review</mat-error>
                    </mat-form-field>
                </div>

                <!-- USERNAME -->
                <div class="row">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>UserName</mat-label>
                        <input matInput type="text" name="username" ngModel required #username="ngModel" />
                        <mat-error *ngIf="username.invalid">Please add a title to your review</mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>Write your review</mat-label>
                        <textarea matInput rows="8" cols="10" name="content" ngModel required #content="ngModel"></textarea>
                        <mat-error *ngIf="content.invalid">Please complete your review</mat-error>
                    </mat-form-field>
                </div>
                <!-- RATING -->
                <div class="row">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Rating/10</mat-label>
                        <input matInput type="text" name="rating" ngModel required #rating="ngModel" />
                        <mat-error *ngIf="title.rating">Please add a title to your review</mat-error>
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" type="submit">
          Post Review
        </button>
            </form>
        </div>
    </mat-card>
</div>
